jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'hainguyen17App'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
